<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  
</head>

<body>
  <h1>Mongoose Store</h1>
  <ul>
    <!-- <% for(let i = 0; i < product.length; i++){ %>
    <li>
      Product: <a href="/products/<%=product[i].id; %>">
        <%=product[i].name; %>
      </a>
      Description: <p><%=product[i].description; %>.</p>
      Price: <p> <%=product[i].price</p>
      Quantity: <p> <%=product[i].qty </p>
      
      <form action="/products/<%=product[i].id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE" />
      </form>
      
      <a href="/products/<%=product[i].id%>/edit">Edit</a>
    </li>
    <% } %>
  </ul> -->

</body>

</html>