<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <title>Pokedex</title>
</head>
<body>
  <h1>Welcome to the Pokedex!</h1>
  
  <% for (let i in data) { %>
  <div class="card" style="width: 18rem;">
    <img src="<%= data[i].img %>" class="card-img-top" alt="<%= data[i].name %>" width="50px">
    <div class="card-body">
    <h5 class="card-title"><%= data[i].name %></h5>
    <a class="btn btn primary"href="/pokedex/<%= i %>" role="button">More details</a>
    <a class="btn btn primary"href="/pokedex/<%= i %>/:edit" role="button">Edit</a>
    <a class="btn btn primary"href="/pokedex/<%= i %>" role="button">Delete</a>
  </div>
  </div>
  <% } %>
  


  
</body>
</html>